html, body 
{
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.wlcm
{
    background : linear-gradient(-30deg, rgba(86, 150, 208, 1) 0%, rgba(253, 190, 16, 1) 31.48%, rgba(79, 102, 174, 1) 76.55%);
    position : absolute ;
    left : -4px;
    top : -3px;
    width : 110%;
    height : 110%;
}
.proj
{
  position: absolute;
  top:100%;
  left : -4px;
  width: 110%;
  height: 110%;
}

.noosaproj
{
  position: absolute;
  left : 8%;
  top: 10%;
  width: 110%;
  height: 110%;
}

.paintproj
{
  position: absolute;
  left : 8%;
  top: 10%;
  width: 110%;
  height: 110%;
}
.fillcircle
{
  background : #EBEBEB;
  background : rgba(235, 235, 235, 1);
  position : absolute;
  left : 892px;
  top : 39px;
  width : 22px;
  height : 22px;
  border-radius: 22px;
}
.fillcircle2
{
  background : #EBEBEB;
  position : absolute ;
  left : 85%;
  top : 156px;
  width : 22px;
  height : 22px;
  border-radius: 22px;
}
.holecircle
{
    border-style : Solid;
    border-color : #EBEBEB;
    border-width : 5px;
    position : absolute ;
    left : 82%;
    top : 105px;
    width : 33px;
    height : 33px;
    border-radius: 33px;
}
.holecircle2
{
  border-style : Solid;
  border-color : #EBEBEB;
  border-width : 5px;
  position : absolute ;
  left : 757px;
  top : 215px;
  width : 33px;
  height : 33px;
  border-radius: 33px;
}
.gradcircle 
{
  max-width: 60px;
  border-radius:60px;
  padding: 22px;
  position: relative;
  background: linear-gradient(120deg, rgba(86, 150, 208, 1) 0%, rgba(253, 190, 16, 1) 31.48%, rgba(79, 102, 174, 1) 76.55%);
  padding: 5px;
}
.grad 
{
  background:#ffffff;
  color: white;
  padding: 22px;
  border-radius: 22px;
}
.wobbleline
{
    position : absolute ;
    left : 291px;
    top : 147px;
    width : 1286px;
    height : 866px;
    border-radius : 0px;
    -moz-border-radius : 0px;
    -webkit-border-radius : 0px;
}
.image1
{
  background-image : url(graph/image1.png);
  background-repeat : no-repeat;
  position : absolute ;
  left : 30%;
  top : 40%;
  background-size:80%;
  padding: 1609px 1079px 0 0;
}
.image
{
  background-image : url(graph/image.png);
  background-repeat : no-repeat;
  position : absolute ;
  left : 63%;
  top : 27%;
  background-size:42%;
  padding: 357px 421px 0 0;
}
.wlcmname
{
  background-image : url(graph/wlcmname1.png);
  background-repeat : no-repeat;
  position : absolute ;
  background-size:100%;
  left:10%;
  top:25%;
}
.wlcmport
{
  background-repeat : no-repeat;
  position : absolute ;
  background-size:110%;
  left:4%;
  top:45%;
}
.wobbleline 
{
  background-image : url(graph/wobbledash1.png);
  background-repeat : no-repeat;
  position : absolute ;
  left : 75%;
  top : 10%;
  width : 134px;
  height : 39px;
  border-radius: 5px;
}
wobbleline2 
{
  background-image : url(graph/wobbledash1.png);
  background-repeat : no-repeat;
  position : absolute ;
  left : 75%;
  top : 15%;
  width : 134px;
  height : 39px;
  border-radius: 5px;
}
.aboutcloud 
{
  position : absolute;
  left:33%;
  top:5%;
  z-index: -5;
  width:80%;
  opacity: 70%;
}
.topcloud 
{
  background-image : url(graph/topcloud.png);
  background-repeat : no-repeat;
  position : absolute;
  background-size: 40%;
}
.cloud2 
{
  background-image : url(graph/imgblank.png);
  background-repeat : no-repeat;
  position : absolute;
  background-size: 50%;
  left:29.4%;
  top:2.5%;
}
.colorcloud 
{
  background-image : url(graph/imgblank.png);
  background-repeat : no-repeat;
  position : absolute;
  max-width: 120%;
  top: 8.8%;
  left:-36%;
  opacity: 90%;
}

.kabi1 {
  background-image : url(graph/imgblank.png);
  background-repeat : no-repeat;
  position : absolute;
  max-width: 120%;
  top: 120%;
  left:2%;
}
.kabi2 {
  background-image : url(graph/imgblank.png);
  background-repeat : no-repeat;
  position : absolute;
  max-width: 120%;
  top: 200%;
  left:57%;
  transform: rotate(-20deg);
}
.wave 
{
  background-repeat : no-repeat;
  position : absolute;
  background-size: 40%;
  left:20%;
  top:25%;
}
.colorcloud2 
{
  background-image : url(graph/imgblank.png);
  background-repeat : no-repeat;
  position : absolute;
  max-width: 80%;
  top: 48%;
  left:30%;
}
.fadecloud 
{
  background-image : url(graph/imgblank.png);
  background-repeat : no-repeat;
  position : absolute;
  max-width: 80%;
  top: 30%;
  left:18%;
}
.noosa 
{
  background: no-repeat url(graph/noosathumbnail.png) 50% / 100%;
  max-width: 40%;
  position : absolute;
  left: 5%;
}
.paint 
{
  background: no-repeat url(graph/paintthumbnail.png) 50% / 100%;
  max-width: 40%;
  position : absolute;
  left: 47%;
  top: 60%
}
.web 
{
  background: no-repeat url(graph/website.png) 50% / 100%;
  max-width: 40%;
  position : absolute;
  left: 5%;
  top: 110%;
  z-index: 1;
}
.noosathumb 
{
  position: relative;
  vertical-align: top;
  width: 100%; 
  opacity: 25%;  
}
.paintthumb 
{
  position: relative;
  vertical-align: top;
  width: 100%; 
  opacity: 25%;  
}
.noosa1
{
  background-image : url(imgblank.png);
  background-repeat : no-repeat;
  position : relative;
  background-color: #ffffff;
  border-top-left-radius: 100px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 400px;
}
.paint1
{
  background-image : url(imgblank.png);
  background-repeat : no-repeat;
  position : relative;
  background-color: #ffffff;
  border-top-left-radius: 300px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 70px;
}
.projimage1
{
  background-image : url(graph/projcloud.png);
  background-repeat : no-repeat;
  position : absolute ;
  left : 32%;
  top : 43.5%;
  background-size:90%;
  padding: 1609px 1079px 0 0;
}
/* --- */
/* slideshow */
/* --- */
.slide 
{
  position: absolute;
  top:100%;
  width: 50%;
}
* {box-sizing:border-box}
/* Slideshow container */
.slideshow-container 
{
  max-width: 800px;
  position: relative;
  margin: auto;
  left:45%;
}
/* Hide the images by default */
.mySlides 
{
  display: none;
}
/* Next & previous buttons */
.prev, .next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  background-color: rgba(235, 235, 235);
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.page 
{
  cursor: pointer;
  user-select: none;
  transition: 0.6s ease;
  background-color: linear-gradient(120deg, rgba(86, 150, 208, 1) 0%, rgba(253, 190, 16, 1) 31.48%, rgba(79, 102, 174, 1) 76.55%);
}

.txtgrad2 
{
  background: #EBEBEB;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txtgrad 
{
  background: linear-gradient(120deg, rgba(86, 150, 208, 1) 0%, rgba(253, 190, 16, 1) 31.48%, rgba(79, 102, 174, 1) 76.55%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.abouttext 
{
  font-family: Glodok;
  text-shadow: 2px 2px 0px rgba(235, 235, 235, .7);
  background: linear-gradient(120deg, rgba(86, 150, 208, 1) 0%, rgba(253, 190, 16, 1) 31.48%, rgba(79, 102, 174, 1) 76.55%);
  letter-spacing: 1px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.homepic 
{
  width: 35%;
  left:5%;
  top:28%;
  position: absolute;
  border-top-left-radius: 200px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 170px;
}

/* Position the "next button" to the right */
.next
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover 
{
  background-color: rgba(235, 235, 235);
  text-shadow: 4px 4px 0px #EBEBEB;
}

/* Caption text */
.text 
{
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  bottom:-8%;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot 
{
  cursor: pointer;
  height: 15px;
  width: 15px;
  position: relative;
  left: 45%;
  margin: 0 2px;
  background-color: #EBEBEB;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover 
{
  background-color:transparent;
  border-color: #EBEBEB;
  border-width: 2px;
  border-style: solid;
}

/* Fading animation */
.fade 
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade 
{
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade 
{
  from {opacity: .4}
  to {opacity: 1}
}

.footer 
{
  background-image : url(graph/imgblank.png);
  position: absolute;
  max-width: 130%;
  top:142%;
  left: -15%;
  bottom: 0;
  background-repeat : no-repeat;
  z-index: -1;
}

